@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;

  --primary: #4f39f6;
  --primary-hover: #4338ca;

  --secondary: #0ea5e9;
  --secondary-hover: #0284c7;

  --success: #16a34a;
  --warning: #f59e0b;
  --error: #dc2626;
  --info: #2563eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito);
}

@layer components {
  .heading {
    @apply text-4xl font-nunito font-semibold text-gray-600;
  }
  .description {
    @apply font-semibold  text-gray-600 font-nunito;
  }
  .error-container {
    @apply p-10 w-full h-[50vh] flex justify-center items-center text-red-400;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding: 2% 5%;
  overflow: hidden;
  gap: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
}
@media (max-width: 768px) {
  .products-cards-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.product-card {
}

.product-image {
  padding: 20px;
  width: 100%;
  height: 200px;
  object-fit: contain;
  background: var(--gray-400);
  border-radius: 5px 5px 0px 0px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0.5vw 0px;
}
.title {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  font-family: var(--font-nunito);
  color: var(--gray-900);
}
.category {
  font-size: 18px;
  line-height: 22px;
  color: var(--gray-600);
  font-family: var(--font-nunito);
  font-weight: 600;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  padding: 8px 12px;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  font-size: 14px;
  width: 250px;
}

.product-details-image {
  width: 50%;
  height: 600px;
  object-fit: contain;
  padding: 50px;
  background: var(--gray-200);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    gap: 15px;
    align-items: end;
  }
  .input-field {
    width: 100%;
  }
  .product-details-image {
    width: 100%;
    padding: 20px;
    height: 300px;
  }
}
.cart-card {
  border: 1px solid var(--gray-300);
}

.order-summary {
  border: 1px solid var(--gray-300);
  width: 30%;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .cart-content-container {
    flex-direction: column-reverse;
  }
  .order-summary {
    width: 100%;
  }
}
.cart-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--gray-300);
  padding: 20px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .cart-container {
    width: 100%;
    flex: 1;
    border: 1px solid blue;
  }
  .cart-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.cart-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid var(--gray-300);
}
.cart-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background: var(--gray-200);
  border-radius: 5px;
  padding: 10px;
}
.cart-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 20%;
}

.cart-action-btn {
  padding: 5px 12px;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  background: var(--gray-100);
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 5px solid var(--gray-700);
  border-bottom-color: var(--gray-300);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
